.keybord {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &__level {
        display: flex;
        justify-content: space-between;
    }
    &__key {
        border:0 none;
        cursor:pointer;
        outline:none;
        min-width: 45px;
        height: 45px;
        background-color:rgba(0, 0, 0, 0.804) ;
        color: rgba(8, 255, 8, 0.488);
        box-shadow: 1px 1px solid black;
        border-radius: 5px;
        &[data-name=' '] {
            flex: 0.85 0 0;
        }
        &[data-name="shift"]:first-child {
            flex: 0.50 0 0;
        }     
    }
    &__key:active {
        transform: scale(0.95); 
    }
}

.pressed {
    transform: scale(0.95); 
}