body{
    background-color: aliceblue;
    box-sizing: border-box;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 0px auto;
}